.wrapper {
    height: 100vh!important;
}

.img-right {
    height: 100%;
    width: 100%;
}

.bg-header {
    background-color: #f37021;
}

.logo {
    width: 17%;
}

.mt-6 {
    margin-top: 90px;
}

.header {
    height: 15%;
    padding: 12px;
}

.alert {
    padding: 6px;
    padding-left: 10px;
    width: 33%;
}